SECRET_KEY={{ django_secret_key }}
DEBUG=false
ALLOWED_HOSTS=localhost,127.0.0.1,{{ application_hostname }}
DATABASE_URL=sqlite:///{{ django_sqlite_file_path }}
STATIC_ROOT={{ nginx_static_dir }}
LOG_FILE_PATH={{ django_log_file }}
LOG_FILE_MAX_SIZE={{ 1024*1024*15 }}
LOG_FILE_BACKUP_COUNT=10

