import os

SECRET_KEY = '{{ django_secret_key }}'

DEBUG = False

ALLOWED_HOSTS = ['localhost', '127.0.0.1', '{{ application_hostname }}']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': '{{ django_sqlite_file_path }}',
    }
}

STATIC_ROOT = '{{ nginx_static_dir }}'

# Logging config
LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'formatters': {
        'default': {
            'format': '[%(asctime)s] %(levelname)s %(message)s'
        },
    },
    'handlers': {
        'logfile': {
            'level': 'DEBUG',
            'class': 'logging.handlers.RotatingFileHandler',
            'filename': '{{ django_log_file }}',
            'maxBytes': 1024*1024*15,  # 15MB
            'backupCount': 10,
            'formatter': 'default',
        },
    },
    'loggers': {
        'playlist.views': {
            'handlers': ['logfile'],
            'level': 'INFO',
        },
        'library.management.commands.feed': {
            'handlers': ['logfile'],
            'level': 'INFO',
        },
        'django': {
            'handlers': ['logfile'],
            'level': 'INFO',
        },
    },
}
